<!-- /templates/customers/account.liquid -->
<div class="account-page">
  <div class="container">
    <div class="account-image"></div>
    <div class="account-info" id="account" style="display: flex">
      <h2>Your Account</h2>
      <a onclick="showOrders()">
        Order History {% include 'account-arrow' %}
      </a>
      <a href="/account/addresses">
        Saved Addresses {% include 'account-arrow' %}
      </a>
      {{ "Sign Out" | customer_logout_link }}
    </div>

    <div class="order-info" id="account-orders" style="display: none">
      <h2>Order History</h2>
      {% if customer.orders.size != 0 %}
      <div class="orders-container">
        <h3>Order</h3>
        <h3>Date</h3>
        <h3>Status</h3>
        <h3>Total</h3>
        {% for order in customer.orders %}
        <a href="{{ order.customer_url }}" class="order-id">{{ order.name }}</a>
        <p>{{ order.created_at | date: "%B %d, %Y" }}</p>
        <p>{{ order.fulfillment_status }}</p>
        <p>{{ order.total_price | money }}</p>
        <div class="mobile">
          <p>{{ order.created_at | date: "%B %d, %Y" }}</p>
          <p>{{ order.fulfillment_status }}</p>
          <p>{{ order.total_price | money }}</p>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% if customer.orders.size == 0 %}
      <p class="no-orders">You haven't placed any orders yet.</p>
      {% endif %}
      <a class="back" onclick="showAccount()"> Back to your account </a>
    </div>
  </div>
</div>

<script>
  const orders = document.getElementById("account-orders");
  const account = document.getElementById("account");

  showOrders = () => {
    if (orders.style.display === "none") {
      orders.style.display = "flex";
      account.style.display = "none";
    } else {
      orders.style.display = "none";
      account.style.display = "flex";
    }
  };

  showAccount = () => {
    if (account.style.display === "none") {
      orders.style.display = "none";
      account.style.display = "flex";
    } else {
      orders.style.display = "flex";
      account.style.display = "none";
    }
  };

  $(document).ready(function () {
    $('a[href^="/account/logout"]').on("click", function () {
      $.ajax($(this).attr("href")).done(function () {
        // Here you will change the url to whatever page you want to redirect to
        window.location.href = "/account/login";
      });
      return false;
    });
  });
</script>

{% comment %}

<p>August 06, 2020</p>
<p>Delivered</p>
<p>£78.00</p>
<span class="order-id">#13783</span>
<div class="mobile">
  <p>August 06, 2020</p>
  <p>Delivered</p>
  <p>£78.00</p>
</div>

{% endcomment %}
