<section class="orderPage">
    <div class="container">
        <div class="order-image"></div>
        <div class="orderPage__container">
            <h2 class="orderPage__heading">Order
                {{ order.name }}</h2>
            <p class="orderPage__date">{{ order.created_at | date: "%B %d, %Y" }}</p>

            <div class="orderPage__details">
                <h3 class="orderPage__detailsHeading colTitle">Product</h3>
                <h3 class="orderPage__detailsHeading colTitle">SKU</h3>
                <h3 class="orderPage__detailsHeading colTitle">Price</h3>
                <h3 class="orderPage__detailsHeading colTitle">Quantity</h3>
                <h3 class="orderPage__detailsHeading right colTitle">Total</h3>
            </div>
            {%- for line_item in order.line_items -%}
                <div class="orderPage__lines">
                    <p class="orderPage__detailsbody itemTitle">{{ line_item.title }}</p>
                    <p class="orderPage__detailsbody sku">
                        <span class="mobileDesc">SKU:
                        </span>
                        {{ line_item.sku }}
                    </p>
                    <p class="orderPage__detailsbody price">
                        <span class="mobileDesc">Price:
                        </span>
                        {{ line_item.original_price | money }}
                    </p>
                    <p class="orderPage__detailsbody quantity">
                        <span class="mobileDesc">Quantity:
                        </span>
                        {{ line_item.quantity }}
                    </p>
                    <p class="orderPage__detailsbody right total">
                        <span class="mobileDesc">Total:
                        </span>
                        {{ line_item.original_line_price | money }}
                    </p>
                </div>
            {% endfor %}

            <div class="orderPage__totals">
                <h3 class="orderPage__detailsHeading green">Subtotal</h3>
                <p class="orderPage__detailsbody right">
                    {{ order.subtotal_price | money }}
                </p>
                <h3 class="orderPage__detailsHeading green">Shipping</h3>
                <p class="orderPage__detailsbody right">
                    {{ order.shipping_price | money }}
                </p>
                <h3 class="orderPage__detailsHeading green">Total</h3>
                <p class="orderPage__detailsbody right">
                    {{ order.total_price | money }}
                </p>
            </div>
            <div class="orderPage__addresses">
                <div class="orderPage__address">
                    <h3 class="orderPage__detailsHeading addressHeader">
                        Billing Address
                    </h3>
                    <p class="orderPage__detailsbody">{{ order.billing_address.name }}</p>
                    <p class="orderPage__detailsbody">
                        {{ order.billing_address.company }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.billing_address.address1 }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.billing_address.address2 }}
                    </p>
                    <p class="orderPage__detailsbody">{{ order.billing_address.city }}</p>
                    <p class="orderPage__detailsbody">
                        {{ order.billing_address.province }}
                    </p>
                    <p class="orderPage__detailsbody">{{ order.billing_address.zip }}</p>
                    <p class="orderPage__detailsbody">
                        {{ order.billing_address.country }}
                    </p>
                </div>
                <div class="orderPage__address">
                    <h3 class="orderPage__detailsHeading addressHeader">
                        Shipping Address
                    </h3>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.name }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.company }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.address1 }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.address2 }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.city }}
                    </p>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.province }}
                    </p>
                    <p class="orderPage__detailsbody">{{ order.shipping_address.zip }}</p>
                    <p class="orderPage__detailsbody">
                        {{ order.shipping_address.country }}
                    </p>
                </div>
            </div>
            <a class="back" href="/account">Back to your account</a>
        </div>
    </div>
</section>
